In [111]:
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import rcParams
import pandas as pd
import datetime

# 设置中文
rcParams['font.sans-serif'] = ['SimHei']
rcParams['axes.unicode_minus'] = False

In [112]:
data = pd.read_excel('../../database/火车乘坐记录.xlsx', sheet_name = '乘坐列表')
#data = data.fillna(0)
data.head()

,序号,日期,车次,始发,终到,上车站,下车站,上车时间,下车时间,席位,座位,车型,车号,局属,时长,时长.1,价格,上车城市,下车城市,跨天
0,1,NaT,NaN,NaN,NaN,珠海,顺德,NaN,NaN,二等座,NaN,CRH1A,NaN,广铁,01:00:00,60.0,NaN,珠海市,佛山市,NaN
1,2,NaT,NaN,NaN,NaN,广州南,珠海,NaN,NaN,二等座,NaN,CRH1A,NaN,广铁,00:50:00,50.0,NaN,广州市,珠海市,NaN
2,3,NaT,NaN,NaN,NaN,广州南,北京西,NaN,NaN,二等座,NaN,NaN,NaN,广铁,11:00:00,660.0,NaN,广州市,北京市,NaN
3,4,NaT,Z201,NaN,NaN,北京西,广州,NaN,NaN,硬卧,NaN,YW25T,NaN,广铁,21:59:00,1319.0,NaN,北京市,广州市,1.0
4,5,2016-08-05,Z202,三亚,北京西,广州,北京西,08:50:00,06:49:00,硬卧,16车20号下,YW25T,NaN,广铁,21:59:00,1319.0,456.0,广州市,北京市,1.0

In [113]:
stats = {}
charts = {}

In [114]:

#总乘坐次数
stats['total_trips'] = data.shape[0]

#总乘坐时间
total_time = sum(data['时长.1'])
hour,minute = divmod(total_time,60)
stats['total_time'] = f'{int(hour)}h{int(minute)}min'

In [115]:
#乘坐时间最长和最短的车
timemax = data.loc[data['时长.1'].idxmax()]
hour,minute = divmod(timemax['时长.1'],60)

stats['longest_trip'] = {'train':timemax['车次'],
                        'from':timemax['上车站'],
                        'to':timemax['下车站'],
                        'duration':f'{int(hour)}h{int(minute)}min'}

timemin = data.loc[data['时长.1'].idxmin()]
hour,minute = divmod(timemin['时长.1'],60)

stats['shortest_trip'] = {'train':timemax['车次'],
                        'from':timemax['上车站'],
                        'to':timemax['下车站'],
                        'duration':f'{int(hour)}h{int(minute)}min'}


#30分钟短途车
under30 = (data[data['时长.1']<30].shape[0])
stats['short_trips'] = under30


#跨天车
night = data[data['跨天']>=1].shape[0]
stats['overnight_trips'] = night

charts['duration'] = [round(x) for x in data['时长.1']]

In [116]:
earliestdep = data.loc[data['上车时间'][26:].idxmin()]
charts['earliestdep'] = {
    'time':earliestdep['上车时间'].strftime('%H:%M'),
    'train':earliestdep['车次'],
    'from':earliestdep['上车站'],
    'to':earliestdep['下车站']
}
latestdep = data.loc[data['上车时间'][26:].idxmax()]
charts['latestdep'] = {
    'time':latestdep['上车时间'].strftime('%H:%M'),
    'train':latestdep['车次'],
    'from':latestdep['上车站'],
    'to':latestdep['下车站']
}


charts['depart_hours'] = list(filter(lambda i: i is not None,[i.hour if type(i) is not float else None for i in data['上车时间']]))

In [117]:
earliestarr = data.loc[data['下车时间'][26:].idxmin()]
charts['earliestarr'] = {
    'time':earliestarr['下车时间'].strftime('%H:%M'),
    'train':earliestarr['车次'],
    'from':earliestarr['上车站'],
    'to':earliestarr['下车站']
}
latestarr = data.loc[data['下车时间'][26:].idxmax()]
charts['latestarr'] = {
    'time':latestarr['下车时间'].strftime('%H:%M'),
    'train':latestarr['车次'],
    'from':latestarr['上车站'],
    'to':latestarr['下车站']
}


charts['arrive_hours'] = list(filter(lambda i: i is not None,[i.hour if type(i) is not float else None for i in data['下车时间']]))

In [118]:
print(charts)

{'duration': [60, 50, 660, 1319, 1319, 1319, 1155, 1207, 1279, 1279, 300, 302, 959, 69, 90, 197, 360, 360, 411, 411, 20, 20, 100, 100, 239, 206, 611, 609, 579, 20, 680, 64, 29, 24, 25, 85, 304, 1232, 128, 30, 29, 102, 221, 981, 205, 22, 57, 106, 119, 39, 61, 73, 68, 24, 24, 101, 19, 88, 58, 32, 81, 30, 41, 109, 11, 96, 30, 16, 42, 60, 34, 88, 171, 17, 211, 131, 962, 582, 25, 1034, 435, 253, 21, 485, 472, 27, 43, 45, 139, 145, 25, 287, 15, 1007, 87, 79, 248, 61, 24, 29, 39, 17, 23, 186, 16, 59, 31, 21, 131, 51, 84, 16, 18, 19, 25, 16, 562, 177, 10, 35, 58, 185, 311, 81, 85, 157, 25, 113, 96, 11, 25, 24, 30, 54, 97, 97, 62, 28, 69, 56, 142, 21, 50, 42, 667, 21, 20, 25, 25, 294, 986, 113, 23, 31], 'earliestdep': {'time': '00:15', 'train': 'G4159', 'from': '北京北', 'to': '大同南'}, 'latestdep': {'time': '23:07', 'train': 'Z8301', 'from': '长沙', 'to': '广州'}, 'depart_hours': [8, 21, 9, 7, 17, 20, 12, 11, 8, 8, 15, 17, 12, 20, 20, 20, 18, 20, 10, 14, 8, 11, 15, 16, 12, 15, 13, 20, 10, 3, 17, 10, 17, 19, 11, 18, 21, 13, 20, 13, 18, 19, 14, 17, 18, 9, 16, 6, 10, 13, 18, 20, 21, 17, 18, 8, 14, 8, 9, 12, 21, 14, 19, 16, 21, 13, 18, 23, 8, 13, 21, 23, 15, 19, 22, 12, 16, 7, 10, 18, 22, 7, 9, 3, 14, 18, 9, 11, 12, 16, 17, 16, 17, 18, 19, 18, 9, 15, 20, 21, 9, 22, 20, 21, 9, 8, 8, 9, 11, 14, 8, 10, 12, 20, 0, 12, 18, 20, 18, 14, 16, 17, 8, 13, 18, 20, 11, 13, 17, 20, 21, 21, 18, 15, 16, 17, 18, 17, 9, 12, 19], 'earliestarr': {'time': '02:08', 'train': 'G4159', 'from': '北京北', 'to': '大同南'}, 'latestarr': {'time': '23:13', 'train': 'D2911', 'from': '青岛北', 'to': '上海虹桥'}, 'arrive_hours': [6, 16, 5, 5, 22, 12, 13, 14, 14, 14, 15, 21, 15, 6, 6, 6, 18, 8, 11, 14, 9, 11, 16, 21, 8, 17, 13, 21, 12, 6, 10, 14, 18, 20, 13, 20, 21, 14, 21, 15, 19, 20, 15, 17, 19, 10, 17, 8, 10, 14, 19, 20, 22, 17, 18, 8, 15, 9, 11, 15, 21, 17, 21, 8, 7, 14, 12, 6, 12, 14, 5, 6, 16, 19, 23, 14, 18, 7, 15, 19, 15, 8, 10, 7, 15, 18, 9, 11, 12, 16, 20, 16, 18, 19, 20, 21, 10, 16, 20, 22, 9, 22, 20, 6, 12, 8, 9, 10, 14, 19, 9, 12, 14, 20, 2, 14, 18, 21, 19, 15, 17, 19, 10, 14, 19, 21, 12, 15, 17, 21, 22, 8, 18, 15, 16, 17, 23, 9, 11, 13, 20]}

In [119]:
import json
with open('../data/stats.json', 'w',encoding='utf-8') as f:
    json.dump(stats, f,ensure_ascii=False)
    
with open('../data/charts.json', 'w',encoding='utf-8') as f:
    json.dump(charts, f,ensure_ascii=False)